name: Workflow Bitvavo

on:
  schedule:
    - cron: '58 8-21 * *  *'  
  workflow_dispatch:  

jobs:
  manage-data:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Delay execution
        run: |
          echo "Waiting for 5 minutes..."
          Start-Sleep -Seconds 480
        shell: pwsh
        
      - name: Run script
        env:
          API_KEYS: ${{ secrets.APIKEYS }}
        run: |
          python BOT.py
